body{
  font-family: arial ;
  margin:0 auto;
  overflow-x: hidden;
  background-color:white;
  box-sizing: border-box;
  
  width:100%;
  
}

.salam{
	color:red;
	position:absolute;
	top:6rem;
	left:3rem;
	font-family:arial black;
	font-size:2.5rem;
	text-shadow: 1px 2px blue;
	
	
}

.salam2{
	color:#00FF00;
	position:absolute;
	top:5rem;
	left:10rem;
	font-family:arial black;
	font-size:2rem;
	
	
}

@media screen and (max-width: 360px){
	.salam2{
	color:#00FF00;
	position:absolute;
	top:.5rem;
	left:10rem;
	font-family:arial black;
	font-size:1.5rem;
	
	
}
}

@media screen and (min-width: 1168px){
	.salam{
	color:red;
	position:absolute;
	top:10rem;
	left:50rem;
	font-family:arial black;
	font-size:3.5rem;
	
	
	
}
}

@media screen and (min-width: 1168px){
	.salam2{
	display:none;
	
	
	
}
}



.page{
	padding-top:100px;
}



.header {
  font-size: 18px;
  margin-top:0rem;
  padding:1rem;
  padding-top:0rem;
  
  
 
}
/*
.nav li a{
	font-family:arial black;
	font-size:.84rem;
	text-decoration:none;
	color:black;
	
	
	
	
  }
.navBarlinks{
	text-decoration:none;
	color:black;
}


.nav {
  list-style-type: none;
  display: none;
 
 
}



.nav li {
  text-align: center;
  margin: 10px auto;
	border-radius: 5px 5px 5px 5px;
  
  background-color:orange;
 
  
 
}

.logo {
  display:inline-block;
  font-size: 14px;
  color:black;
  font-family:arial black;
  text-decoration:none;
  padding-left:1rem;
  
}




.menuButton {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color:black;
  font-size: 20px;
  text-decoration:none;
}

.show {
  display: block;
}


@media screen and (min-width: 1100px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 5rem;
    align-items: center;
	
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
	border-radius:13rem;
	 border-top:4px solid black;
	 border-bottom:4px solid black;
	 border-left:9px solid black;
	 border-right:9px solid black;
	  border-bottom-left-radius: 10rem 10rem;
  border-bottom-right-radius: 10rem 10rem;
	 z-index:+1;
	 
	 
	
  }

  .nav li {
    margin: 0;
	padding:2rem;
	position:relative;
	right:1rem;
	
	
  }

  .menuButton {
    display: none;
  }
  
  
	.image-button{
		position:relative;
		left:65rem;
	}
}



@media screen and (max-width: 1100px) {
	
	.nav li {
    margin-top: 0;
	padding:2rem;
	position:relative;
	right:2rem;
	border-radius:1rem;
	border-color:1rem solid black;
	 background-color:orange;
  }
  
  
  .menuButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: black
  font-size:24px;
  text-decoration:none;
	}
	
  
}




/*#menuButton{
	color:white;
	text-decoration:none;
	font-size:2rem;
	position:absolute;
	top:1rem;
	left:25rem;
	display:none;
}




#scroll{
	display:flex;
	background-color:#2F4F4F;
	color:white;
	padding:.5rem;
	font-family: arial black;
}

header{
	background-color:#00008B;
	color:black;
	height:4vh;
	display:flex;
	align-items: center;
	padding:3rem;	
}

.masthead{
	display:flex;
	justify-content: space-between;
	position:relative;
	
}

nav ul{
	padding:0;
	margin:0;
	list-style-type: none;
	display:flex;
	position:relative;
	bottom:2rem;
	left:15rem;
	
	
	
}

nav ul a{
	display:block;
	padding:1.5rem;
	color:white;
	text-decoration:none;
	font-family: arial black;
}

}

nav ul a:hover {
	border-bottom: 1px solid white;
}

nav ul li ul {
	position:absolute;
	flex-direction: column;
	background-color:#B0E0E6;
	max-height:0rem;
	overflow:hidden;
	z-index:+1;	
}
/*
nav ul li:hover ul{
	max-height:70rem;
}

nav ul ul.show {
	max-height:60rem;
}

nav ul ul a {
	color#000;
	border-bottom:1px solid #999;
}

.container{
	width:85%;
	margin:0 auto;
}

*/
#gif2{
	position:relative;
	overflow:hidden;
	height:90vh;
	display:flex;
	
}

.imig-top{
	position:absolute;
	width:100%;
	height:100%;
	z-index:-1;
}

@media screen and (max-width: 450px){
	.imig-top{
	position:absolute;
	width:30rem;
	height:50rem;
	z-index:-1;
}
}



#welcome{
		position: absolute;
		top:2rem;
		left:2rem;
		font-size:2rem;
		color:#00FF00;
		font-family:arial black;
		text-shadow: 4px 4px black;
		
		
}

#welcome2{
		position: absolute;
		top:8rem;
		left:4rem;
		font-size:1.1rem;
		color:blue;
		font-family:arial black;
		text-shadow: 2px 2px grey;
		
}

#welcome3{
		position: absolute;
		top:11rem;
		left:4rem;
		font-size:1.1rem;
		color:red;
		font-family:arial black;
		text-shadow: 2px 2px blue;
		
}



@media screen and (max-width: 360px) {



  #welcome{
		position: absolute;
		top:5rem;
		left:2rem;
		font-size:1rem;
		color:#00FF00;
		font-family:arial black;
		text-shadow: 4px 4px black;
		
		
}

#welcome2{
		position: absolute;
		top:8rem;
		left:4rem;
		font-size:.9rem;
		color:blue;
		font-family:arial black;
		text-shadow: 2px 2px grey;
		
}

#welcome3{
		position: absolute;
		top:11rem;
		left:4rem;
		font-size:.6rem;
		color:red;
		font-family:arial black;
		text-shadow: 2px 2px blue;
		
}

}


@media screen and (max-width: 450px) {



  #welcome{
		position: absolute;
		top:5rem;
		left:2rem;
		font-size:1.2rem;
		color:#00FF00;
		font-family:arial black;
		text-shadow: 4px 4px black;
		
		
}

#welcome2{
		position: absolute;
		top:8rem;
		left:4rem;
		font-size:1rem;
		color:blue;
		font-family:arial black;
		text-shadow: 2px 2px grey;
		
}

#welcome3{
		position: absolute;
		top:11rem;
		left:4rem;
		font-size:.8rem;
		color:red;
		font-family:arial black;
		text-shadow: 2px 2px blue;
		
}

}

.button1:hover {
  background-color: grey;
}


.button1 {
  border: none;
  outline: 0;
  text-decoration:none;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 95%;
  font-family:arial black;
  margin-bottom:1.5rem;
  border-radius:4px;
  position:relative;
  top:15.5rem;
  box-shadow: 5px 5px black;
  
}

.content{
	background-color:#FAEBD7;
}

.image-button {
  border: none;
  outline: 0;
  text-decoration:none;
  display: inline-block;
  padding: 8px;
  color: red;
  background-color: #00FFFF;
  text-align: center;
  cursor: pointer;
  width: 13rem;
  font-family:arial black;
  margin-bottom:1.5rem;
  border-radius:4px;
  position:relative;
  top:17rem;
  left:17rem;
  box-shadow: 5px 5px black;
  
}


@media screen and (max-width:360px) {
.image-button {
  border: none;
  outline: 0;
  text-decoration:none;
  display: none;
  padding: 8px;
  color: red;
  background-color: #00FFFF;
  text-align: center;
  cursor: pointer;
  width: 12rem;
  font-family:arial black;
  margin-bottom:1.5rem;
  border-radius:4px;
  position:relative;
  top:15rem;
  left:10rem;
  box-shadow: 5px 5px black;
  
}
}


@media screen and (max-width:380px) {
.image-button {
  border: none;
  outline: 0;
  text-decoration:none;
  display: none;
  padding: 8px;
  color: red;
  background-color: #00FFFF;
  text-align: center;
  cursor: pointer;
  width: 12rem;
  font-family:arial black;
  margin-bottom:1.5rem;
  border-radius:4px;
  position:relative;
  top:15rem;
  left:8rem;
  box-shadow: 5px 5px black;
  
}
}

@media screen and (max-width:414px) {
.image-button {
  border: none;
  outline: 0;
  text-decoration:none;
  display: inline-block;
  padding: 8px;
  color: red;
  background-color: #00FFFF;
  text-align: center;
  cursor: pointer;
  width: 12rem;
  font-family:arial black;
  margin-bottom:1.5rem;
  border-radius:4px;
  position:relative;
  top:15rem;
  left:11rem;
  box-shadow: 5px 5px black;
  
}
}

.articleHome{
	float:left;
	font-size:18px;
	font-family: Humanistic, arial, helvetica;
	padding:2rem;
	line-height:1.4;
	text-align:left;
	word-spacing:;
	width:70%;
	
}

.dubai{
	padding:2rem;
}

.grid-section{
	background-color:#00BFFF
	
	;
}


.grid1 {
  background-color: white;
  color: white;
  padding: 0.7rem;
  height: 20rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
  background-image:url("images/gif1.gif");
  background-repeat:no-repeat;
}

.grid2 {
  background-color: white;
  color: white;
  padding: 0.7rem;
  height: 20rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
   background-image:url("images/book.jpg");
  background-repeat:no-repeat;
}

.grid3 {
  background-color: white;
  color: white;
  padding: 0.7rem;
  height: 20rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
  background-image:url("images/gif3.gif");
  background-repeat:no-repeat;
}

.grid4 {
   background-color: white;
  color: white;
  padding: 0.7rem;
  height: 20rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
  background-image:url("images/about.jpg");
  /*https://www.google.com/url?sa=i&url=http%3A%2F%2Fdefineindia.in%2Fabout.php&psig=AOvVaw1tKzL--7HVUuVJZLLQEYsY&ust=1590687466435000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjHzd3K1OkCFQAAAAAdAAAAABAE*/
  background-repeat:no-repeat;
}

.grid5 {
  background-color: white;
  color: white;
  padding: 0.7rem;
  height: 20rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
  background-image:url("images/events.webp");
  background-repeat:no-repeat;
}

.grid6 {
  background-color: white;
  color: white;
  padding: 0.7rem;
  height: 20rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
  background-image:url("images/support.jpg");
  background-repeat:no-repeat;
}


.grids {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media screen and (min-width: 690px) {
  .grids { 
	grid-template-columns: repeat(2, 1fr);
	max-width: 1300px;
  }
} 

@media screen and (min-width: 900px) {
  .grids {
	  grid-template-columns: repeat(3, 1fr); 
  }
} 
 
/*
@media screen and (max-width: 800px) {
  
  #menuButton{
	display:Block;
	position:absolute;
	top:1rem;
	left:45rem;
	}
	
	.container{
	width:10%;
	margin:0 auto;
	}
	
	header h1{
		
	}

   .masthead nav ul{
	   display:flex;
	   flex-direction:row;
	   flex-wrap:wrap;
	   max-height:0rem;
	   overflow:hidden;
	   position:relative;
	   left:3rem;
   }
   
   .masthead nav .show{
	   max-height:60rem;
   }
   
   header{
	padding:re5m;	
	}
	
	#welcome{
	position: absolute;
	top:40rem;
	left:8rem;
	font-size:35px;
	color:red;
	font-family:YOFORIA;
	}
	
	nav ul li ul {
	position:absolute;
	flex-direction: column;
	background-color:blue;
	max-height:0rem;
	overflow:hidden;
	z-index:+1;	
	}
	
	.masthead nav ul a{
	display:block;
	padding:.8rem;
	color:white;
	text-decoration:none;
	font-family: arial black;
	float: none;
    width: 100%;
	}
	
	
}

 Screen larger than 900px? 3 columns */
 
 
 /* --------------EXPLORE DUBAI PAGE----------------------------------------------------------------------------------- */

#explore body{
  
  
  
}

#explore #slideshow div{
	
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	width:100%;
	
	
}

#explore .slide1{
	background-image:url("images/explore5.jpg");
	
	
}

#explore .slide2{
	background-image:url("images/explore2.png");
}

#explore .slide3{
	background-image:url("images/explore3.jpg");
}

#explore .slide4{
	background-image:url("images/explore4.jpg");
}

#explore .button1 {
  border: none;
  outline: 0;
  text-decoration:none;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: blue;
  text-align: center;
  cursor: pointer;
  width: 15rem;
  font-family:arial black;
  margin-bottom:1.5rem;
  border-radius:4px;
  position:relative;
  top:17rem;
  left:2rem;
  box-shadow: 5px 5px black;
  
}

@media screen and (max-width:375)
#explore .button1 {
  border: none;
  outline: 0;
  text-decoration:none;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: blue;
  text-align: center;
  cursor: pointer;
  width: 20rem;
  font-family:arial black;
  margin-bottom:1.5rem;
  border-radius:4px;
  position:relative;
  top:17rem;
  left:4rem;
  box-shadow: 5px 5px black;
  
}

#explore #content{
	background-color:#F0F8FF;
	margin:0rem;
	padding:0rem;
	
}

#explore .article1{
	
	font-family:arial;
	font-size:1.3rem;
	line-height:1.8rem;
	padding:1rem;
	text-align:justify;
	
	
	
}

#explore .contenth1{
	font-family:arial black;
	font-size:2rem;
	padding:1rem;
	text-align:center;
	color:purple;
	font-style:italic;
	border-bottom:5px solid blue;
	
}

#explore .imigMoon{
	float:right;
	padding:1rem;
}

#explore .imigTower{
	float:left;
	padding:1rem;
}

@media screen and (max-width: 450px){
	.imigTower{
		width:350px;
	}
	
	.imiga380{
		width:350px;
	}
	.imigMoon{
		width:350px;
	}
	.imigjumairah{
	width:350px;
	}
	.imigairport{
	width:350px;
	}
}

#explore .imigjumairah{
	float:right;
	padding:1rem;
}

#explore .imiga380{
	float:left;
	padding:1rem;
}

#explore .imigairport{
	float:right;
	padding:1rem;
}

@media screen and (max-width: 1024px){
	#explore .imigairport{
		width:500px;
	}
}

@media screen and (max-width: 500px){
	#explore .imigairport{
		width:350px;
	}
}


#explore .buttonText {
  border: none;
  outline: 0;
  text-decoration:none;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 15rem;
  font-family:arial black;
  margin-bottom:1.5rem;
  border-radius:4px;
  position:relative;
  left:38rem;
  top:1rem;
  box-shadow: 5px 5px black;
  
}




/*----------------Hotel Page--------------*/


#hotels #slideshow2 div{
	
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;	
}

#hotels .slide1{
	background-image:url("images/hotel.webp");
	
	
}

#hotels .slide2{
	background-image:url("images/hotel2.jpeg");
}

#hotels .slide3{
	background-image:url("images/hotel3.jpeg");
}

#hotel .grid-section2{
	background-color:grey;
}




#hotels .grid1 {
  background-color: #F5F5DC;
  color: white;
  padding: .5rem;
  height: 80rem;
  width:25rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
  background-image:url("images/burj.jpg");
  background-repeat:no-repeat;
}

#hotels .grid2 {
  background-color: #F5F5DC;
  color: white;
  padding: 0.7rem;
  height: 80rem;
  width:25rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
   background-image:url("images/burjal.jpg");
  background-repeat:no-repeat;
}

#hotels .grid3 {
  background-color: #F5F5DC;
  color: white;
  padding: 0.7rem;
  height: 75rem;
  width:25rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
  background-image:url("images/palm.jpg");
  background-repeat:no-repeat;
}

#hotels .grid4 {
   background-color:#F5F5DC;
  color: white;
  padding: 0.7rem;
  height: 75rem;
  width:25rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
  background-image:url("images/dubaiairport.jpg");
  background-repeat:no-repeat;
}




#hotels .grids2 {
	
  max-width: 50rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media screen and (min-width: 790px) {
  #hotels .grids2 { 
	grid-template-columns: repeat(2, 1fr);
	max-width: 1300px;
  }
} 

@media screen and (min-width: 900px) {
  #hotels .grids {
	  grid-template-columns: repeat(3, 1fr); 
  }
} 

#hotels .button1 {
  border: none;
  outline: 0;
  text-decoration:none;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 20rem;
  font-family:arial black;
  margin-bottom:1.5rem;
  border-radius:4px;
  position:relative;
  top:76rem;
  box-shadow: 5px 5px black;
  
}

#hotels .button2 {
  border: none;
  outline: 0;
  text-decoration:none;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 20rem;
  font-family:arial black;
  margin-bottom:1.5rem;
  border-radius:4px;
  position:relative;
  top:76rem;
  box-shadow: 5px 5px black;
  
}

#hotels .button3 {
  border: none;
  outline: 0;
  text-decoration:none;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 20rem;
  font-family:arial black;
  margin-bottom:1.5rem;
  border-radius:4px;
  position:relative;
  top:70rem;
  box-shadow: 5px 5px black;
  
}

#hotels .button4 {
  border: none;
  outline: 0;
  text-decoration:none;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 20rem;
  font-family:arial black;
  margin-bottom:1.5rem;
  border-radius:4px;
  position:relative;
  top:70rem;
  box-shadow: 5px 5px black;
  
}


#hotels #content{
	background-color:#F0F8FF;
	margin:0rem;
	padding:0rem;
	
}

#hotels .contenth1{
	font-family:arial black;
	font-size:2rem;
	padding:1rem;
	text-align:center;
	color:orange;
	font-style:italic;
	border-bottom:5px solid blue;
	
}

#hotels .hotelContent{
	
	font-family:arial;
	font-size:1.3rem;
	line-height:1.8rem;
	padding:1rem;
	color:black;
	text-align:justify;
	
}

#hotels .hotelContent2{
	
	font-family:arial;
	font-size:1.3rem;
	line-height:1.8rem;
	padding:1rem;
	color:black;
	text-align:justify;
	position:relative;
	top:24rem;
}

#hotels .hotelContent3{
	
	font-family:arial;
	font-size:1.3rem;
	line-height:1.8rem;
	padding:1rem;
	color:black;
	text-align:justify;
	position:relative;
	top:17rem;
}

#hotels .hotelContent4{
	
	font-family:arial;
	font-size:1.3rem;
	line-height:1.8rem;
	padding:1rem;
	color:black;
	text-align:justify;
	position:relative;
	top:25rem;
}

#hotels .h1grid{
	color:brown;
	font-family:arial black;
	
}

#hotels .h1grid2{
	color:blue;
	font-family:arial black;
	
}

#contact .contactPage{
	background-color:#A9A9A9;
	
	margin:0 auto;
	padding:0;
}

#contact h1{
	text-align:center;
	font-family:arial black;
	background-color:;
	margin-bottom:0;
}

#contact .contact-Section{
	
	margin:0 auto;
	padding:0;	
}





#contact .myText{
	padding:.6rem;
	margin:1rem;
	 width: 50%;
  padding: 12px;
  border: 3px solid black;
  border-radius: 8px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 12px;
  display: inline-block;
}

#contact .comment{
	padding:.6rem;
	margin:1rem;
	font-family:arial black;
	 width: 50%;
  padding: 12px;
  border: 3px solid black;
  border-radius: 8px;
  resize: vertical;
}

#contact .contact-heading{
	font-family:arial black;
	color:white;
	position:absolute;
	top:10rem;
	left:15rem;
	
	
}

#contact .contactimig{
	overflow:hidden;
	display:flex;
}


#contact .grid-section{
	background-color:;
	padding-bottom:2rem;
}


#contact #btn {
  border: none;
  outline: 0;
  text-decoration:none;
  display: inline-block;
  padding: 1rem;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 20rem;
  font-family:arial black;
  margin-bottom:2rem;
  border-radius:4px;
  position:relative;
  top:1rem;
  box-shadow: 5px 5px black;
  
}

.newh1{
	position:absolute;
	top:10rem;
	left:3rem;
	font-size:4rem;
	font-family:Lucida Sans Unicode;
}

@media screen and (max-width: 500px){
	.newh1{
	position:absolute;
	top:10rem;
	left:2rem;
	font-size:2rem;
	font-family:Lucida Sans Unicode;
	
}

}




#contact .grid1 {
  background-color: white;
  color: white;
  padding: 0.7rem;
  height: 20rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
  background-image:url("images/whatsapp.jpg");
  background-repeat:no-repeat;
}

#contact .grid2 {
  background-color: white;
  color: white;
  padding: 0.7rem;
  height: 20rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
 /* https://forum.bubble.io/t/gmail-full-small-business-edition-enterprise-edition/18729*/
   background-image:url("images/gmail.gif");
  background-repeat:no-repeat;
}

#contact .grid3 {
  background-color: white;
  color: white;
  padding: 0.7rem;
  height: 20rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  border-radius:5px;
  background-image:url("images/call.png");
  background-repeat:no-repeat;
}







footer{
	background-color:#F0E68C;
	padding:6rem;
	color:black;
	margin-top:0 auto;
	text-decoration:none;
	list-style-type:none;
	border-radius:1rem;
	border:3px solid black;
	width:100%;
	
}

.nav-footer{
	background-color:;
	padding:2rem;
	color:black;
	margin-top:0 auto;
	text-decoration:none;
	list-style-type:none;
}

.nav2-footer{
	background-color:;
	padding:2rem;
	color:black;
	margin-top:0 auto;
	text-decoration:none;
	list-style-type:none;
	
}

.nav-footer li a{
	text-decoration:none;
	color:blue;
}

.nav2-footer li a{
	text-decoration:none;
	color:blue;
}


#references #border{
	border:1px solid black;
	border-radius:5px;
	border-width:60%;
	padding:2rem;
	text-decoration:none;
	list-style-type:none;
}

.references{
	background-color:#E6E6FA;
	text-align:center;
}


/* new -------------------------------------------*/




  /* ---------About us Page-------- */


  #about #slideshow div{

  	background-size:cover;
  	background-repeat:no-repeat;
  	background-position:center center;

  }

  #about .slide1{
  	background-image:url("images/explore5.jpg");

  }

  #about .slide2{
  	background-image:url("images/explore2.png");
  }

  #about .slide3{
  	background-image:url("images/explore3.jpg");
  }

  #about .slide4{
  	background-image:url("images/explore4.jpg");
  }

  #about .button1 {
    border: none;
    outline: 0;
    text-decoration:none;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: blue;
    text-align: center;
    cursor: pointer;
    width: 20rem;
    font-family:arial black;
    margin-bottom:1.5rem;
    border-radius:4px;
    position:relative;
    top:17rem;
    left:4rem;
    box-shadow: 5px 5px black;

  }

  #about #content{
  	background-color:#F0F8FF;
  	margin:0rem;
  	padding:0rem;

  }

  #about .article1{

  	font-family:arial;
  	font-size:1.3rem;
  	line-height:1.8rem;
  	padding:2rem;
  	text-align:justify;
  }

  #about .contenth1{
  	font-family:arial black;
  	font-size:2rem;
  	padding:1rem;
  	text-align:center;
  	color:Blue;
  	font-style:italic;
  	border-bottom:3px solid blue;
  }

  #about .Skyline{
  	float:right;
  	padding:1rem;
    width: 30%;
    height:auto;
  }

  #about .Canals{
  	float:left;
  	padding:1rem;
    width: 30%;
    height: auto;
    margin-bottom: 2rem;
  }


/*-------------Food&Drink-------------*/

#F_D #content{
  background-color:#F0F8FF;
  margin:0rem;
  padding:0rem;

}

#F_D .food{

  font-family:arial;
  font-size:1.3rem;
  line-height:1.8rem;
  padding:1rem;
  text-align:left;
}


#F_D .f_title{
  font-family:arial;
  font-size:2rem;
  line-height:1.8rem;
  text-align: center;
  padding-left: 25%;
  color: Blue;
}

#F_D .drink{

  font-family:arial;
  font-size:1.3rem;
  line-height:1.8rem;
  padding:2rem;
  text-align:left;
}

#F_D .d_title{
  font-family:arial;
  font-size:2rem;
  line-height:1.8rem;
  text-align: center;
  padding-right: 25%;
  color: blue;
}

#F_D .contenth1{
  font-family:arial black;
  font-size:2rem;
  padding:1rem;
  text-align:center;
  color:Blue;
  font-style:italic;
  border-bottom:3px solid blue;
}

#F_D .imgfood{
float:left;
padding: 1rem;
width:70%;
Height:auto;
}

#F_D .imgdrink{
  float:right;
  padding: 1rem;
  width:70%;
  Height:auto;
}


/*-----------Events------------*/

#events #content{
  background-color:#F0F8FF;
  margin:0rem;
  padding:0rem;

}

#events .c_events{

  font-family:arial;
  font-size:1.3rem;
  line-height:1.8rem;
  padding-left:2rem;
  text-align:left;
  display:inline-block;
}


#events .c_title{
  font-family:arial;
  font-size:2rem;
  line-height:1.8rem;
  text-align: left;
  padding-left: 15%;
  color: Blue;
}

#events .s_events{

  font-family:arial;
  font-size:1.3rem;
  line-height:1.8rem;
  padding-left:2rem;
  text-align:left;
  display:inline-block;
}

#events .s_title{
  font-family:arial;
  font-size:2rem;
  line-height:1.8rem;
  text-align: center;
  padding-right: 25%;
  color: blue;
}

#events .contenth1{
  font-family:arial black;
  font-size:2rem;
  padding:1rem;
  text-align:center;
  color:Blue;
  font-style:italic;
  border-bottom:3px solid blue;
}

#events .imgculture{
float:right;
padding: 1rem;
width:50%;
Height:auto;
}

#events .imgsport{
  float:left;
  padding: 1rem;
  width:50%;
  Height:auto;
}

@media screen and (max-width: 450px){
	#events .imgsport{
		width:250px;
	}
}
 
/*-------------About Developers---------------*/

#Developers #content{
  background-color:#F0F8FF;
  margin:0rem;
  padding:0rem;
  font-family:arial;
  font-size:1.3rem;
  line-height:1.8rem;
  padding-left:2rem;
  text-align:left;
  display:inline-block;
}

#Developers .contenth1{
    font-family:arial black;
    font-size:2rem;
    padding:1rem;
    text-align:center;
    color:Blue;
    font-style:italic;
    border-bottom:3px solid blue;
  }
  
  #Developers .content2h1{
    font-family:arial black;
    font-size:2rem;
    padding:1rem;
    text-align:center;
    color:white;
    font-style:italic;
    border-bottom:3px solid blue;
  }

  #Developers .imghtml{
    float:left;
    padding: 1rem;
    width:60%;
    Height:auto;
  }
  
  @media screen and (max-width:500px) {
       #Developers .imghtml{
    float:left;
    padding: 1rem;
    width:100%;
    Height:auto;
  }
  }
  
  
  
  
  
  input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 2px;
  resize: vertical;
}

label {
  padding: 22px 22px 22px 0;
  display: inline-block;
  font-family:arial;
  font-style:bold;
}

input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
  position:relative;
  left:14rem;
  
}

input[type=submit]:hover {
  background-color: red;
}

#conback{
	background-image:url("images/contac.jpg");
}

.container {
  padding-top:100rem;
  
 
  width:100%;
  background-color: orange;
  padding: 20px;
}

.row1{
	padding:2rem;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  
  .container {
	position:relative;
	left:0rem;
	width:100%;
	}
	.row1{
		position:relative;
		right:9rem;
	}
	
  
}




html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: center;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color:white;
  border:2px solid black;
  padding:.8rem;
}



#contact .container77 {
  padding: 0 16px;
  background-color:white;
  width:100%;
  position:relative;
  left:.01rem;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 6px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  
  height:3.5rem;
  font-family:arial black;
  
}

.button:hover {
  background-color: #555;
}

.develop{
	background-image:url("images/backi.jpg");
}

.fil{
	position:absolute;
	left:40rem;
	top:79.4rem;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}












nav {
    background-color: #fff;
	background-image:url("images/explore1.jpg");
	background-size:750px;
	border:.rem solid black;
	border-bottom-right-radius:.rem;
	border-bottom-left-radius:.rem;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position:fixed ;
    width: 100%;
    z-index: 1;
	
	
}

@media screen and (max-width: 350px){
	nav{
		background-image:url("images/explore1.jpg");
	background-size:550px;
	}
}



		
	



nav ul {
    margin: 0;
    padding: 10;
    list-style: none;
    overflow: hidden;
    
	
}

nav li a {
    color: gold;
    display: block;
    padding: 20px 20px;
	font-family:arial black;
    
    text-decoration: none;
	 
}

.contactcolor{
	background-color: orange;
	border:px solid black;
	color:black;
	border-radius:1rem;
	width:%;
}

.activecolor{
	
	
	color:white;
	border-radius:rem;
	width:30%;
}

nav li a:hover,
nav li a:focus,
.menu__checkbox:hover,
.menu__checkbox:focus,
 :focus {
    background-color: ;
	border:px solid black;
	border-radius:rem;
	color:#5F9EA0;
}


/* menu */

.menu {
    display: ;
    clear: both;
    max-height: 0;
    transition: all 2s ease-out;
	 
}


/* menu icon */

.menu__icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 28px 20px;
    position: relative;
    
}

.hamburger {
    background: white;
    display: block;
    height: 3px;
    position: relative;
	top:2rem;
    transition: background .9s ease-out;
    width: 30px;
}

.hamburger:before,
.hamburger:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .9s ease-out;
    width: 100%;
}

.hamburger:before {
    top: 8px;
}

.hamburger:after {
    top: -8px;
}


/* menu checkbox */

.menu__checkbox {
    opacity: 0;
}

.menu__checkbox:checked~.menu {
    max-height: 540px;
    display: block;
}
/*
.menu__checkbox:focus~.menu__icon {
    outline: #5E9ED6 10px solid;
    background-color: #f4f4f4;
}

.menu__checkbox:checked~.menu__icon {
    background-color: #f4f4f4;
}
*/
.menu__checkbox:checked~.menu__icon .hamburger {
    background: transparent;
}

.menu__checkbox:checked~.menu__icon .hamburger:before {
    transform: rotate(-225deg);
}

.menu__checkbox:checked~.menu__icon .hamburger:after {
    transform: rotate(225deg);
}

.menu__checkbox:checked~.menu__icon:not(.steps) .hamburger:before,
.menu__checkbox:checked~.menu__icon:not(.steps) .hamburger:after {
    top: 0rem;
}


/* 48em = 768px */

@media (min-width: 78em) {
	
	.activecolor{
	
	color:gold;
	border-radius:rem;
	
}
	
	
	
	nav{
		width:100%;
		background-image:url("images/explore1.jpg");
		background-size:1300px;
		
	}
    nav li {
        float: left;
    }
    nav li a {
        padding: 25px 25px;
		color:gold;
    }
    .menu {
        display: block;
        clear: none;
        float: right;
        max-height: none;
    }
    .menu__icon,
    .menu__checkbox,
    .hamburger {
        display: none;
    }
}





























*, *:before, *:after {
  box-sizing: inherit;
}

.columnh {
	
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 10px 8px;
}

@media screen and (max-width: 768px){
	.columnh {
	  float: left;
	  width: 50%;
	  margin-bottom: 16px;
	  padding: 0 8px;
}
}

.columnh-expand {
  float: left;
  width: 66%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 800px){
.columnh-expand {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}
}

@media screen and (max-width: 768px){
.columnh-expand-hotel {
  float: ;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
}
}

.columnh-expand-home {
  float: right;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.columnh-expand-hotel {
  float: right;
  width: 33.3%;
  margin-bottom: 16px;
 
  padding: 0 8px;
}

@media screen and (max-width: 1024px){
	.columnh-expand-hotel {
  float: right;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
}


@media screen and (max-width: 1024px){
	.columnh-expand-home {
  float: right;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
}

@media screen and (max-width: 500px){
	.columnh-expand-home {
  float: right;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
}
}

@media screen and (max-width: 500px){
	.columnh-expand-hotel {
  float: right;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
}
}

@media screen and (max-width: 800px){
	.columnh-expand-hotel {
  float: right;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
}
}


@media screen and (max-width: 450px){
	.columnh-expand {
  float: left;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
}
}




.cardh {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}


.containerh {
  padding: 0 16px;
}

.containerh::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.buttonh {
  border: 2px solid black;
  border-radius:3px;
  font-size:1.2rem;
  font-style:bold;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: green;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family:airal black;
}

.buttonh:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .columnh {
    width: 100%;
    display: block;
  }
}

#hotels p{
	font-family:arial;
	font-size:1.1rem;
	line-height:1.6rem;
	padding:rem;
	color:black;
	text-align:justify;
}









.homegrid{
	font-family:arial;
	font-size:1.1rem;
	line-height:1.7rem;
	padding:1rem;
	color:black;
	text-align:justify;
	
}











#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: rgb(0, 0, 0);
    background: blue;
    width: 60px;
    height: 60px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: red;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}



.nlogoc{
	 width:79rem;
	}


@media screen and (max-width: 450px){
	.nlogoc{
	 width:29rem;
	 height:27rem;
	}
}

/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 }













.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}


.box{
	background-color:purple;
    padding:2rem;
    
}

.rf{
	color:white;
    font-family:arial black;
}





