.error {
    padding: .2rem;
    background-color: red;
    width: 45%;
    text-align: left;
    margin: auto;
    font-weight: bold;
}

.home .cruH{
    background-color:antiquewhite; 
}

.search .cruH{
    background-color:antiquewhite; 
}

.crudOption .cruH{
    background-color:antiquewhite; 
}

.home .butn {
    padding: 1rem;
    margin: auto;
    max-width: max-content;
}

.search .butn {
    padding: 1rem;
    margin: auto;
    max-width: max-content;
}

.home .tabl {
    padding: 3rem;
    margin: auto;
    max-width: 90%;
    overflow-x: auto;
}

.crudOption .butn {
    padding: 1rem;
    margin: auto;
    max-width: max-content;
}

.crudOption .tabl {
    padding: 3rem;
    margin: auto;
    max-width: 90%;
    overflow-x: auto;
}

.search .tabl {
    padding: 3rem;
    margin: auto;
    max-width: 90%;
    overflow-x: auto;
}


.search #searchF{
    margin-top: 1rem;
}

.home #searchF{
    margin-top: 1rem;
}

  .crudOption .Nrecords{
    font-weight: bold;
  }

  .search .Nrecords{
    font-weight: bold;
  }

  .home .st {
    padding: 1rem;
    margin: auto;
    background-color:darkslategrey;
    text-align: center;
    color: white;
    font-weight: bold;
}

.search .st {
    padding: 1rem;
    margin: auto;
    background-color:darkslategrey;
    text-align: center;
    color: white;
    font-weight: bold;
}

.crudOption .st {
    padding: 1rem;
    margin: auto;
    background-color:darkslategrey;
    text-align: center;
    color: white;
    font-weight: bold;
}

.update .form{
    padding: 2rem;
    background-color: rgb(197, 197, 175);
    width: 45%;
    margin: auto;
}

.update .form-label{
    font-weight: bold;
}

.update .form-control{
    border-width: .3rem;
    border-color: black;
}

@media screen and (max-width: 650px) {
    .update .form {
        width: 100%;
    }
}
